
li{
  list-style-type: circle;
}
h1{
  text-align: center;
  color: teal
 
}
li{
  text-align: left
}
table{border-collapse: collapse;
}

body{ background-color: lightblue;}
 
 
  tr, td {
  border: solid 1px black;
  padding: 10px;
}
h2{
  text-align: center;
    color: teal
}
td{
  text-align: center
}
table {
  font-size: 20px;
  width:800px
}
img {
  width: 500px;
  Height: 350px;
   
  margin-left: auto;
  margin-right: auto;}

table {
  margin-left: auto;
  margin-right: auto;}
  
  h3 {
    text-indent: 40px;
  }
  
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: red;
}
  
/* mouse over link */
a:hover {
  color: blue;
}
