
h1{

  text-align: center;
  color: black;
   text-shadow: 2px 2px 5px purple;
 font-size: 70px;
}
li{
  text-align: left;
}
table{border-collapse: collapse;
}

body{ background-color: silver;}
 
 
  tr, td {
  border: solid 1px black;
  padding: 10px;
}
h2{
  text-align: center;
    color: black;
   text-shadow: 2px 2px 5px purple;
  font-size: 40px;
}
td{
  text-align: center;
}
table {
  font-size: 20px;
  width:800px;
}
img {
  width: 500px;
  Height: 350px;
   
  margin-left: auto;
  margin-right: auto;}

table {
  margin-left: auto;
  margin-right: auto;}
  
  h3 {
    text-indent: 40px;
  }
  
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
  
/* mouse over link */
a:hover {
  color: blue;
}
nav{list-style-type:none;
position:fixed;
background-color:purple;
width: 100%;
top:0;
left:0;}
li{
  display:inline;
  padding: 15px;
  float: right;
}
li:hover{
 background-color:white;
}
a{
  text-decoration:none;
  color:black;
  text-font:20
}
